.comment-before {
    flex: 1;
    width: 1px;
    height: 100%;
}

.comment-before::before {
    content: '';
    min-width: 1px;
    height: 100%;
    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 55px;
    left: 2.5%;
}
.hidden-content {
    overflow: hidden;
    line-height: 1.5em;
    height: 4.5em;
}
.show-more {
display: block;
cursor: pointer;
border-radius: 5px;
max-width: 150px;
padding: 5px 5px;
}
.hidden-content {
margin-bottom: 10px;
}