@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #0073e6;
}

.dropdown:hover > .dropdown-content {
	display: block;
}

.wp-block-heading {
    @apply text-2xl font-bold py-6;
}


::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;  
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}